@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.library-logo {
  width: 65px;
  height: 70px;
}

#navItem1,
#navItem2,
#navItem3,
#navItem4,
#navItem5,
#navItem6,
#navItem7,
#navItem8 {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 14px;
}

#navItem1:hover,
#navItem2:hover,
#navItem3:hover,
#navItem4:hover,
#navItem5:hover,
#navItem6:hover,
#navItem7:hover,
#navItem8:hover {
  color: #d0b200;
}

.custom-button {
  color: white;
  background-image: linear-gradient(#d0b200, #a58d00);
  width: 130px;
  height: 45px;
  border-width: 0px;

  border-radius: 8px;
  margin-right: 10px;
}

.custom-outline-button {
  color: #d0b200;
  background-color: transparent;
  width: 130px;
  height: 45px;

  border-style: solid;
  border-width: 1px;

  border-color: #d0b200;
  border-radius: 8px;
}

.wcu-section {
  background-color: #f9fbfe;
}

.wcu-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}

.wcu-section-description {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
}

.animated-border {
  position: relative;
  background-size: 200% 200%;

  border-radius: 10px;
  overflow: hidden;
}

.wcu-card-image {
  width: 100%;
  border-radius: 10px;
}

.wcu-card-title {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 500;
}

.wcu-card-description {
  color: #7b8794;
  font-family: "Roboto";
  font-size: 16px;
}

.explore-menu-section {
  background-color: white;
}

.menu-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}

.menu-item-image {
  border-radius: 16px;
}

.menu-card-title {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  margin-top: 24px;
}

.menu-item-card {
  border-radius: 16px;
}

.library-whole-section {
  background-color: #f9fbfe;
}

.library-whole-section-img {
  width: 100%;
}

.library-whole-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
  margin-top: 20px;
}

.library-whole-section-description {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
}

.delivery-and-payment-section {
  background-color: white;
}

.delivery-and-payment-section-img {
  width: 270px;
}

.delivery-and-payment-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}

.delivery-and-payment-section-description {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
}

.payment-card-img {
  width: 35px;
  height: 35px;
  margin-right: 28px;
}

.thanking-customers-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}

.thanking-customers-section-description {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
}

.thanking-customers-section-img {
  width: 270px;
  margin-bottom: 20px;
}

.thanking-customers-section-modal-title {
  color: #d0b200;
  font-weight: 800;
}

.follow-us-section {
  background-color: white;
}

.follow-us-section-heading {
  text-align: center;
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}

.follow-us-icon-container {
  background-color: #faf7e8;
  width: 55px;
  height: 55px;
  border-radius: 40px;
  margin: 25px;
  padding: 10px;
}

.icon {
  color: #d0b200;
  font-size: 35px;
}
@media (min-width: 768px) {
  .footer-section {
    background-image: url("https://img.freepik.com/free-photo/colorful-stack-literature-library-generated-by-ai_24911-72381.jpg?size=626&ext=jpg&ga=GA1.2.565730523.1689246239&semt=ais");
    background-size: cover;
  }
}
@media (max-width: 768px) {
  .footer-section {
    background-image: url("https://img.freepik.com/free-photo/still-life-books-versus-technology_23-2150062979.jpg?size=626&ext=jpg&ga=GA1.1.697448155.1689090507&semt=ais");
    background-size: cover;
  }
}
.footer-section-mail-id {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 36px;
  margin-top: 20px;
}

.footer-section-address {
  font-family: "Roboto";
  font-size: 24px;
}

.image-width {
  width: 100%;
}

.paid-successful {
  color: #d0b200;
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 500;
}

.input-element {
  border-radius: 20px;
  border-color: #d0b200;
  font-family: "Roboto";
  border-width: 1px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.our-memebers-image {
  height: 100px;
  width: 100px;
}

.cem {
  background-color: #f9f7fa;
  position: relative;
  overflow: hidden;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.5s;
}

.cem::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #cced00, #ffc107);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}

.cem:hover {
  transform: perspective(1000px) rotateY(-10deg);
}

.cem:hover::after {
  opacity: 0.5;
}

.light-cem {
  margin-top: 50px;
  color: #2b91c4;
}

.border {
  border-radius: 50px;
}

.our-members-pic {
  height: 100px;
  width: 100px;

  transition: transform 0.3s, filter 0.3s;
}

.tet-white {
  color: #0763ed;
  transition: color 0.3s;
  text-align: right;
  font-family: sans serif;
  font-weight: 60px;
}

.carousel-item.active .image {
  transform: rotate(360deg) scale(1.2);
}

.carousel-item.active .text-white {
  color: #ffc107;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #cced00 0%, #ffc107 100%);
  opacity: 0;
  transition: opacity 0.3s;
}

.carousel-item.active .gradient-overlay {
  opacity: 0.8;
}

.carousel-control-prev,
.carousel-control-next {
  background: none;
  color: #ffc107;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.3s;
}

.carousel-control-prev:focus,
.carousel-control-next:focus {
  outline: none;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  color: #ff5722;
}
.bg-color-members {
  background-image: radial-gradient(
    rgb(90, 201, 241),
    rgb(113, 236, 89),
    #9292f7
  );
  min-height: 80vh;
}

.menu-item-card {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.menu-item-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.menu-item-card:hover {
  transform: scale(1.05);
}

.menu-item-card:hover::before {
  border-color: #ff7f50; /* Change the color as desired */
}

.custom-button {
  transition: all 0.3s ease;
}

.custom-button:hover {
  background-color: #ff7f50; /* Change the color as desired */
  color: #fff;
}

.menu-item-card {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.menu-item-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  animation: border-animation 5s infinite;
}

@keyframes border-animation {
  0% {
    border-color: #ff7f50;
  }
  25% {
    border-color: #42f5d4;
  }
  50% {
    border-color: #f542e3;
  }
  75% {
    border-color: #42a0f5;
  }
  100% {
    border-color: #ff7f50;
  }
}

.menu-item-card:hover {
  transform: scale(1.05);
}

.custom-button {
  transition: all 0.3s ease;
}

.custom-button:hover {
  background-color: #ff7f50; /* Change the color as desired */
  color: #fff;
}

@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.user-contributed-bg-image {
  background-image: url("https://img.freepik.com/premium-vector/internet-design_24911-40975.jpg?size=626&ext=jpg&ga=GA1.1.697448155.1689090507&semt=ais");
  height: 120vh;
  font-family: "Roboto";
  padding-top: 20px;
  background-size: cover;
}

.border-user-resources {
  margin-top: 20px;
  border-radius: 10px;
  background-color: #f5f7fa;
  border-color: #cbd2d9;
}

.list-types-user-resources {
  list-style-type: none;
}

.btn-color-user-resources {
  background-image: linear-gradient(
    rgb(88, 160, 189),
    rgb(230, 104, 188),
    #7474d4
  );
}

.error-msg-user-resouces {
  color: #dc3545;
}

.heading-user-resources {
  color: #323f4b;
  font-size: 19px;
  font-weight: 900;
}

.label-text-user-resources {
  color: #7b8794;
  font-size: 14px;
  font-weight: 600;
}

.input-border-user-resources {
  border-color: #e4e7eb;
}

.bg-library-image {
  background-image: url("https://img.freepik.com/free-vector/vector-home-library-interior-with-large-bookcase-full-different-books-green-armchair-burning-floor-lamp_1284-48467.jpg?size=626&ext=jpg&ga=GA1.2.697448155.1689090507&semt=ais");
  height: 50vh;
}

.author-dynamic {
  font-family: "Roboto";
  color: #323f4b;
  font-size: 18px;
  font-weight: 500;
}

.heading-dynamic {
  font-family: "Roboto";
  color: #323f4b;
  font-size: 34px;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg-image-explicit {
  background-image: url("https://img.freepik.com/free-photo/still-life-books-versus-technology_23-2150062979.jpg?size=626&ext=jpg&ga=GA1.1.697448155.1689090507&semt=ais");
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: Roboto;
  color: #ffffff;
}

.para {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 576px), (min-width: 576px) {
  .btn-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    flex-wrap: wrap;
  }

  .heading {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }
  .margin-inner {
    width: 80%;
    margin: auto;
    margin-top: 50px;
  }
}

.btn-property1 {
  border: 1px solid #ffffff;
  padding: 14px;
  margin: 10px;
  color: #183b56;
  font-family: Open Sans;
  border-radius: 23px;
  font-weight: bold;
  font-size: 16px;
}

.btn-property2 {
  border: 1px solid #ffffff;
  padding: 14px;
  background-color: transparent;
  color: #ffffff;
  font-family: Open Sans;
  margin: 10px;
  border-radius: 23px;
  font-weight: bold;
  font-size: 16px;
}

@media (min-width: 768px) {
  .bg-image-explicit {
    background-image: url("https://img.freepik.com/free-photo/still-life-books-versus-technology_23-2150062979.jpg?size=626&ext=jpg&ga=GA1.1.697448155.1689090507&semt=ais");
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn-container {
    display: flex;
    flex-direction: row;
    width: 35%;
  }

  .heading {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }
  .margin-inner {
    width: 50%;
    margin: auto;
    margin-top: 50px;
  }
}

/* This will be covered in further sessions */
* {
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 0px;
}

.card-container {
  background-color: #ffffff;
  min-width: 50%;
  height: 30%;
  margin: 40px;

  overflow: scroll;
}

.image {
  width: 95%;
  margin-left: 30px;
  margin-right: 90px;
}

.heading {
  padding: 20px;
}
#carouselExampleInterval {
  width: 70vw;
  margin: auto;
  overflow: hidden;
  border-radius: 60px;
  margin-top: 150px;
}

.form-label {
  font-size: 15px;
  font-weight: 500;
  color: #323f4b;
  text-align: start;
}
